/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* FONTS */

@font-face {
  font-family: "AirbnbCereal";
  src: url("/fonts/AirbnbCereal_W_Lt.otf") format("opentype"),
    url("/fonts/AirbnbCereal_W_Lt.woff") format("woff"),
    url("/fonts/AirbnbCereal_W_Lt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Light.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/clash_display/ClashDisplay-Semibold.woff") format("woff"),
    url("/fonts/clash_display/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/clash_display/ClashDisplay-Bold.woff") format("woff"),
    url("/fonts/clash_display/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 700;
  padding: 16px 32px;
  text-transform: capitalize;
  white-space: nowrap;
}

@media (max-width: 640px) {
  button {
    font-size: 10px;
    padding: 8px 16px;
  }
}
